* { box-sizing: border-box; }

body {
  margin:0;
}

.parent {
  background-color: #23424a;
  padding:50px;

  margin: 0 auto;
 width: 80%; 
 /* overflow: hidden; */
}

.child {
  background-color:#38cfd9;

  width: 80%;
 /*  height: 250px; */
}