/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
   1. Get all the navigation items next to one another
   2. Add a space between all the items
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-image: linear-gradient(#e0c3fc, #8ec5fc, #ba7af8);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.section-title {
  color: #87629a;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #87629a;
  font-weight: 900;
  background-color: #8ec5fc;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
/*   border: 2px solid white; */
  justify-content: space-between;
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

header {
  background: #8ec5fc;
  padding: 1em 0;
}

.logo {
    margin-right: em;
/*   border: 2px solid yellow; */
}

.nav {
  display: flex;
  justify-content: space-between;
  /*   align-items: center;  */
    width: 100%; /* ou flex-grow e flex-shrink */
  /*  flex-grow: 1;Os itens se expandem igualmente para ocupar o container. Utilizando apenas o flex-grow, o crescimento é distribuído igualmente antes e depois do conteúdo de cada elemento. (pois por padrão o flex-basis é auto) */ 
  /* //flex-shrink: 1;  Valor padrão, permite que os itens tenham os seus tamanhos (seja esse tamanho definido a partir de width ou flex-basis) reduzidos para caber no container. */
/*   border: 2px solid red; */
 /*  width: 700px; */
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
/*       border: 2px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list--primary{
    margin: 0 auto;
}



.nav__item + .nav__item {
  margin-left: 1em;
}

/* .nav__item--push-right{
    margin-left: auto;
    lançara o item sign-in e sign up para o lado esquerdo.
} */

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav__link:hover {
  opacity: 0.75;
}

.hero {
  padding: 100px 0;
  background-color: #87629a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.main {
  margin-top: 3em;
}

.primary-content {
  width: 62%;
}

.sidebar {
  width: 32%;
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color:#87629a;
}

 p {
color: white;
}