@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

 /*  box-sizing: border-box; > http://sergiolopes.org/css-box-sizing-border-box/*/

 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

section {
  background: #23424a;
  padding: 147px 125px;
}

.intro-content{
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  max-width: 700px;
}

.intro-content h1{
  font-size: 3rem;
  color:#fff;
  padding: 15px;
}

.intro-content p {
  font-size: 1.3rem;
  color: #fff;
  padding: 15px;
}

.btn {
  width: 285px;
  height: 63px;
  border-radius: 50px;
  margin: 50px 0 0 18px;
  background-color: #38cfd9;
  border: none;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn:hover {
  background: #97C4C7;
  color: #fff;
  cursor: pointer;
}