/* The Block, Element, Modifier methodology (commonly referred to as BEM) is a popular naming convention for classes in HTML and CSS. Developed by the team at Yandex, its goal is to help developers better understand the relationship between the HTML and CSS in a given project.

Link: https://css-tricks.com/bem-101/


Example: card is block. It get's the class .card. Card image, title and content are elements of the card, and get classes: .card__image, .card__title, .card__content. Light and dark are modifiers and they get the classes: .card--dark, .card--light.

Box-sizing Defaults to content-box --> padding, margin and border are added outside. border-box --> padding, margin and border are inside the element. */

*, *::before, *::after {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
}
.container { 
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.hero {
  padding: 100px 0;
  background-color:#23424a;
  color: #fff;
}

.hero p {
 margin-bottom: 3em;
}

.hero__text {
  width: 60%;
}

.btn {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
color:#23424a;
font-weight:900;
background-color: #38cfd9;
padding: 0.75em 2em;
border-radius:100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}